<!-- servers_head -->
<h2><span><i class="fas fa-gamepad"></i>&nbsp;$title</span></h2>
<!-- END -->
<!-- servers_content_head -->

		
<!-- END -->
<!-- servers_content -->
<style type="text/css">
.gametracker {
    display: block;
    margin-left: auto;
    margin-right: auto }
</style>


<div class="card">
    <div class="card-body">
        <h4>$servername</h4>   
	        <div class="row">
                <div class="col-md-1">
                    <img class="img-fluid" src="$gameicon.gif" alt="$game">
                </div>
                <div class="col-md-4">
                    <div class="row">   
                        <div class="col-md-4">$server_ip:</div>
                        <div class="col-md-8">$ip</div>
                        <div class="col-md-4">$server_status:</div>
                        <div class="col-md-8">$status</div>
                        <div class="col-md-4">$server_game:</div>
                        <div class="col-md-8">$showgame</div>
                        <div class="col-md-4">$server_link:</div>
                        <div class="col-md-8"><a href="hlsw://$ip">$ip</a></div>
                    </div>
                </div>
                <div class="col-md-7">
                <a href="https://www.gametracker.com/server_info/$ip/" target="_blank"><img class="img-fluid gametracker" src="https://cache.gametracker.com/server_info/$ip/b_560_95_1.png" border="0" width="560" height="95" alt=""/></a>
            </div>
            </div><hr>
                <b>$server_information:</b>
                $info
            
    </div>
</div>


<!-- END -->
<!-- servers_foot -->

<!-- END -->